@import '~styles.scss';

.book-list__card {
  display: block;
	overflow: visible;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  color: $font-color;
  margin-bottom: 20px;
  text-align: center;
  background-color: $font-color;
  color: $primary-color;
  border-radius: 8px;
}

.book-list__card:hover {
  background-color: $primary-color;
  color: $font-color;
}

.book-list__title {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 2px;
  display: block;
}

.book-list__link {
  font-size: 2vw;
	padding: 10px;
	text-align: right;
	display: block;
	margin-bottom: 0px;
}

.book-list__link:hover > span::before {
  content: "careful!";
}



.book-list__title:hover {
	color: $primary-color;
  background-color: $font-color;
}

.book-list__link:hover {
  background-color: $warning-color;
}
