@import '~styles.scss';

.book-list__card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
  color: $font-color;
  margin-bottom: 20px;
  padding: 20px;
}

.book-list__input {
  width: 100%;
  background-color: $primary-color;
  color: $font-color;
  caret-color: $font-color;
  border: 0;
  // border-bottom: 1px solid $font-color;
  border-radius: 0;
  font-size: 2vw;
}

.book-list__input--title {
  font-size: 4vw;
}

.book-list__input:focus {
  outline: none !important;
}

.book-list__label {
  text-align: left;
  font-size: 1vw;
}

.book-list__links {
  text-align: left;
  margin-top: 20px;
}

.book-list__link {
  font-size: 1vw;
  padding: 10px;
}

.book-list__link:hover {
  color: $primary-color;
  background-color: $font-color;

}