@import '~styles.scss';

.book-list__card {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vw;
  color: $font-color;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid $font-color;
  overflow: visible;
}

.book-list__input {
  width: 100%;
  background-color: $primary-color;
  color: $font-color;
  caret-color: $font-color;
  border: 0;
  border-radius: 0;
  font-size: 2vw;
}

.book-list__input--title {
  font-size: 4vw;
}

.book-list__input:focus {
  outline: none !important;
}

.book-list__label {
  font-size: 1vw;
}

.book-list__link {
  font-size: 3vw;
  padding: 10px;
}

.book-list__link:hover {
  color: $primary-color;
  background-color: $font-color;
}

.book-list__title {
  font-size: 4vw;
  padding: 0 10px 0 10px;
  margin-bottom: 2px;
  display: block;
}