<div class="container" *ngIf="books.length>0;else noData">
  <div class="row book-list__card" *ngFor="let item of books">

    <div class="col">
      <input disabled type="text" class="book-list__input book-list__input--title" id="title"
      [(ngModel)]="item.title" name="title"
      (keyup.enter)="update(item)" (blur)="update(item)">

      <input disabled type="number" class="book-list__input" id="pageCount" 
              [(ngModel)]="item.pageCount" name="pageCount"
              (keyup.enter)="update(item)" (blur)="update(item)">
      <p class="book-list__label">Total pages</p>

    </div>

    <div class="col book-list__links">
      <p class="book-list__link" (click)="select(item)"> <i class="fas fa-check-circle"></i>Select</p>
      <p class="book-list__link" (click)="delete(item)"> <i class="fas fa-trash"></i>Delete this book</p>
    </div>

  </div>
</div>

<div class="container">
  <ng-template #noData>
    <h5>You need a book</h5>
  </ng-template>
</div>


