<div *ngIf="books.length>0;else noData">
  <div class="row book-list__card" *ngFor="let item of books">

		<p class="book-list__title" (click)="select(item)">
      {{item.title}}
			<span *ngIf="item.active">
        <i class="fas fa-check"></i>
      </span>
		</p>
    <p *ngIf="false" class="book-list__link"> <span (click)="delete(item)">
			<i class="fas fa-trash"></i>
			</span>
		</p>

  </div>
</div>

<div class="container">
  <ng-template #noData>
    <h5>You need a book</h5>
  </ng-template>
</div>


