<div class="container">
  <h1>Add New Book</h1>

  <form #addform="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
             required
             [(ngModel)]="model.title" name="title"
             #title="ngModel">
    </div>

    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title is required
    </div>

    <div class="form-group">
      <label for="pageCount">Total Pages</label>
      <input type="number" class="form-control" id="pageCount" 
             required 
             [(ngModel)]="model.pageCount" name="pageCount"
             #pageCount="ngModel">

    </div>

    <div [hidden]="pageCount.valid || pageCount.pristine" class="alert alert-danger">
      Total Pages is required
    </div>

    <button type="button" class="btn btn-default form-control" 
            [disabled]="!addform.form.valid"
            (click)="bookSubmit(); addform.reset()">Add Book</button>

  </form>
</div>

<hr>