@import '~styles.scss';

.bookmark__input {
  border: 0;
  background-color: $primary-color;
  color: $font-color;
  caret-color: $font-color;
  width: 70%;
  text-align: center;
  height: 75%;
}

.bookmark__input:focus {
  border: 0;
  outline: none !important;
}

.bookmark__totals {
  font-size: 2vw;
}