@import '~styles.scss';

.bookmark__input {
  font-size: 20vw;
  border: 0;
  background-color: $primary-color;
  color: $font-color;
  caret-color: $font-color;
  width: 70%;
  text-align: center;
  height: 100%;
  @media (max-width: 574px) {
    font-size: 30vw;
    
  }
}

.bookmark__input:focus {
  border: 0;
  outline: none !important;
}

.bookmark__totals {
  font-size: 2vw;
}
