@import '~styles.scss';

.profile__img {
  width: 12vw;
  border-radius: 50%;
}

.profile__menu {
  color: $font-color;
}

.profile__menu:hover {
  color: $primary-color;
}

.profile__link {
  font-size: 12vw;
}