@import '~styles.scss';

.profile__img {
  width: 20px;
  border-radius: 50%;
}

.profile__menu {
  margin-top: 10px;
  color: $font-color;
}

.profile__menu:hover {
  color: $primary-color;
}

.profile__link {
  padding: 10px;
  font-size: 1vw;
}