<div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
<p>Login.</p>

<button (click)="auth.googleLogin()">
    <i class="fa fa-google"></i> Connect Google
</button>

</ng-template>

<!-- User logged in -->
<ng-template #authenticated>

<div *ngIf="auth.user | async as user">
    <img [src]="user.photoURL" class="profile-img">
    <h6>{{ user.displayName }}</h6>
    <button (click)="auth.signOut()">Logout</button>
</div>

</ng-template>
