@import '~styles.scss';

.header {
  display: flex;
  flex-direction: row;

  color: $font-color;
}

.header__title {
  font-size: 12vw;
  font-weight: 700;
}

.header__nav {
  text-align: right;
}

.header__link {
  font-weight: 700;
  font-size: 12vw;
}
