@import '~styles.scss';

.header {
  text-align: left;
}

.header__title {
  font-size: 7vw;
  font-weight: 700;
  padding: 5px;
  margin: 0px 0px 0px 0px;
}

.header__nav {
  padding-top: 10px;
  text-align: right;
}

.header__link {
  padding: 5px;
  font-weight: 700;
  font-size: 3vw;
}
