<div class="container-fluid">
    <div class="row">
      <div class="col header--title">
        <h1>
          <i class="far fa-circle"></i>
        </h1>
      </div>

      <div class="col header--nav-links">
        
        <a class="header--link" routerLink="/home" routerLinkActive="active"><i class="far fa-circle"></i></a>
        <a class="header--link" routerLink="/book" routerLinkActive="active"><i class="far fa-bookmark"></i></a>
        <app-user-profile></app-user-profile>

      </div>
    </div>
  </div>