@import '~styles.scss';

.book--content {
  color: $font-color;
  margin-top: 12%;
  font-size: 20vw;
  text-align: center;
}

.book--page-count {
  font-size: 6vw;
}

.book--title {
  font-size: 1.5vw;
}