<div class="container">
  <div class="row">
    <div class="col book--content">
      <div *ngIf="activeBook">

        <app-add-bookmark 
          [bookmark]="activeMark"
          [totalPages]="activeBook.pageCount"
          (onAddBookmark)="onAddBookmark($event)">
        </app-add-bookmark>
      
        <p class="book--title">{{activeBook.title}}</p>

        <app-book-actions [(action)]="shownAction"></app-book-actions>
        
      </div>
    </div>
  </div>
</div>


<div *ngIf="shownAction === 'bookList'">
  im a list
  <!-- <app-book-list 
    [books]="books"
    (onSelect)="onSelect($event)"
    (onUpdate)="onUpdate($event)"
    (onDelete)="onDelete($event)">
  </app-book-list> -->
</div>

<div *ngIf="shownAction === 'bookForm'">
  im a form
  <!-- <app-add-book></app-add-book> -->
</div>


