.wrapper {
  height: 100%;
  width: 100%;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header__nav {
  margin-top: 5%;
  flex-basis: 25%;
}