@import '~styles.scss';

.book-actions {
  text-align: center;
  margin: 10px 0px 0px 40px;
  color: $font-color;
}

.book-action-icon {
  font-size: 3vw;
}

.book-action-icon p:hover {
  color: $primary-color;
  background-color: $font-color;
}

.book-action-icon p {
  padding: 0px 10px 0px 10px;
}