@import '~styles.scss';

.book-actions {
  text-align: center;
  color: $font-color;
}

.book-actions__icon {
  font-size: 10vw;
}

.book-actions__icon:hover {
  color: $primary-color;
  background-color: $font-color;
}
