<div class="book-actions">
  <div *ngIf="!showingAction()">
    <p class="book-actions__icon" (click)="toggle('showForm')">
      <i class="fas fa-plus"></i>
    </p>
    <p class="book-actions__icon" (click)="toggle('showList')">
      <i class="fas fa-exchange-alt"></i>
    </p>
  </div>

  <div *ngIf="showForm">
    <p class="book-actions__icon" (click)="toggle('showForm')">
      <i class="fas fa-times"></i>
    </p>
  </div>

  <div *ngIf="showList">
    <p class="book-actions__icon" (click)="toggle('showList')">
      <i class="fas fa-times"></i>
    </p>
  </div>
</div>
