/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$primary-color: #E14F38;

h1,h2,h3,h4,h5,h6 {
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  background-color: $primary-color;
  color: white;
  text-decoration: none;
}