/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

$primary-color: #8AA39B;
$font-color: white;
$warning-color: #dc661e;

html, body {
  height: 100%;
}

body {
  background-color: $primary-color;
}

h1,h2,h3,h4,h5,h6 {
  color: $font-color;
}

a {
  color: $font-color;
  text-decoration: none;
}

a:hover {
  background-color: $font-color;
  color: $primary-color;
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

// .ng-valid[required], .ng-valid.required {
//   border-left: 3px solid #42A948;
// }

// .ng-invalid:not(form) {
//   border-left: 3px solid #A94442;
// }
